* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 2px;

 }

 body{
     background-color: rgb(97, 3, 185);

  }

  h1{
      text-align: center;
      font-size: 20px;
      padding: 8px;
   }

  main { 
      background-color: white;
      width: 700px;
      height: 550px;
      margin: auto;
      padding: 13px;
      box-shadow: 3px 3px 5px black;

  } 

  .titulo {
      height: 85px;
      padding-left: 190px;
  }

  .paraa { 
      color: rgb(206, 7, 7);
  }

  .ladoa {
      float: right;
      height: 100px;
  }

  .ladob {
    float: right;
    height: 90px;
}