@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    padding: 2px;

 }

 body{
     background-color: #120d1c;
     color: antiquewhite;
     display: flex;

  }


  .gato{
    width: 40vw;
 }
 

  h1{
      text-align: center;
      font-size: 170%;
      padding: 8px;
      color: #00e1ff;;
   }

   .main1 { 
    background-color: transparent;
    width: 45vw;
    border-radius: 18px;
    height: 90vh;
    margin: auto;
    padding: 1%;
   
} 

  .main { 
      background-color: #241740;
      width: 45vw;
      border-radius: 18px;
      height: 90vh;
      margin: auto;
      padding: 1%;
      box-shadow: -2px 3px 31px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 3px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 31px 0px rgba(0,0,0,0.75);

  } 

  .titulo {
      height: 10vh;
      padding-left:32%;
  }

  .paraa { 
      color: #00e1ff;
  }

  a { 
    color: #998bb7;
}

  .ladoa {
      float: right;
      height: 100px;
  }

  .ladob {
    float: right;
    height: 90px;
}